@using System.Globalization
@model Orchard.WidgetStyler.Models.StandardSettings

@{
    Dictionary<string, string> col = ViewBag.col;
}

Basi styling for widget : <strong>@ViewBag.widgetid</strong> 
current css :  @ViewBag.customcss  

background color is : @col["background-color"].ToString(CultureInfo.InvariantCulture)

@Script.Include("myscript1.js").AtHead();


@using (Html.BeginForm("SaveGeneralSettings" ,"WidgetStyler" , FormMethod.Post,  new {id = "frmwidgetGeneralSettings" }))
{
        
        <input type="hidden" id="widgetid" name="widgetid" value="@ViewBag.widgetid"/>
 
 
                               
        <div>
                @Html.LabelFor(model => model.BackColor)
                @Html.TextBoxFor(model => model.BackColor)
        </div> 
    
         
                                    
           <button type="submit" class="inputbutton" style="position: absolute; bottom: 5px; right: 5px;">Save</button>    

        }
        <div id="ShowResultHere4generalsettings"></div>
       <script type="text/javascript">
           //perform form post using jquery (not post back)
        Jqueryformpost('#frmwidgetGeneralSettings', '#ShowResultHere4generalsettings');
         </script>